
                


h1 {
    display:grid;                    
    justify-content:center;          
    align-items: center;              
    height: 100%;  
    margin-top: 2cm;
}
a {
    display:grid;                    
    justify-content:center;          
    align-items: center;              
    height: 100%;  
  
}

ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  
  .welcome-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  ion-button {
    --background: #e4abdf;  
    --color: rgb(5, 5, 5);
  }
  
  ion-button{
    --background: #e4abdf;  
    --color: rgb(0, 0, 0);
  }
  


  .main-content {
    display:grid;                    
    justify-content:center;          
    align-items: center;              
    height: 100%;  
    margin-top: 1cm; 
    background-color: #e4abdf;  
    border-radius:25px; 
                
}

h1 {
    display:grid;                    
    justify-content:center;          
    align-items: center;              
    height: 100%;  
    margin-top: 2cm;
}
a {
    display:grid;                    
    justify-content:center;          
    align-items: center;              
    height: 100%;  
  
}